<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entendendo MVC</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <hr>
    <table>
        <thead>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Imo</th>
        </thead>
        <tbody>
            <tr th:each="navio:${navios}">
                <td th:text="${navio.tipo}">
                    000000
                </td>
                <td th:text="${navio.nome}">
                    Michel 
                </td>
                <td th:text="${navio.imo}">
                    4568544
                </td>
            </tr>
        </tbody>
    </table>
    <hr>    
</body>
</html>